# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
*.out
*.err

# Data / Outputs
data/
outputs/
reports/
checkpoints/
runs/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Models
*.pth
*.pt
*.h5
*.onnx
